@use "../../styles/colors.scss" as colors;

.divider {
  padding: 0;
  border: 0;
  margin: 0;
}

.horizontal {
  height: 1px;
  width: 100%;
}

.vertical {
  height: auto;
  width: 1px;
  display: flex;
  align-self: stretch;
}

.colorWhite {
  background-color: colors.$white;
}

.colorWhite50 {
  background-color:colors.$white50;
}

.colorBlack {
  background-color: colors.$black;
}
