/*
  Useful links:
  - https://sass-lang.com/documentation/modules
  - https://sass-lang.com/documentation/variables
  - https://sass-lang.com/documentation/at-rules/use
*/

$white: #ffffff;
$white80: rgba($white, 0.8);
$white50: rgba($white, 0.5);
$white30: rgba($white, 0.3);
$white10: rgba($white, 0.1);

$black: #1b1c1e;
$black80: rgba($black, 0.8);
$black50: rgba($black, 0.5);
$black30: rgba($black, 0.3);
$black10: rgba($black, 0.1);

$primary: #6d6d6c;
$primary80: rgba($primary, 0.8);
$primary50: rgba($primary, 0.5);
$primary30: rgba($primary, 0.3);
$primary10: rgba($primary, 0.1);

$secondary: #1b1c1e;
$secondary80: rgba($secondary, 0.8);
$secondary50: rgba($secondary, 0.5);
$secondary30: rgba($secondary, 0.3);
$secondary10: rgba($secondary, 0.1);

$ink: #1b1c1e;
$ink80: rgba($ink, 0.8);
$ink50: rgba($ink, 0.5);
$ink30: rgba($ink, 0.3);
$ink10: rgba($ink, 0.1);

$grey: #7f7f7f;
$grey80: rgba($grey, 0.8);
$grey50: rgba($grey, 0.5);
$grey30: rgba($grey, 0.3);
$grey10: rgba($grey, 0.1);

$pink: #ff90e8;

$red: #d80032;
