.intro {
  height: 100vh;
  background-color: #f1f6f5;
  padding: 8.4rem 9.6rem;
}

.title {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--color-black);
  text-transform: uppercase;
  align-self: end;
}

.img {
  margin-bottom: 1.6rem;
  text-align: center;
  height: 100;
  padding: 0 0.4rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 9.6rem;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-grey-dark-2);
  text-align: center;
  margin-bottom: 4.8rem;
}
