/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./modules/ui/components/Text/index.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/*
  Useful links:
  - https://sass-lang.com/documentation/modules
  - https://sass-lang.com/documentation/variables
  - https://sass-lang.com/documentation/at-rules/use
*/
.Text_container__jYyhq {
  overflow-wrap: anywhere;
}

.Text_asH1__t9TKS,
.Text_asH2__TpFo5,
.Text_asH3__zn_o2,
.Text_asH4__cMaO_,
.Text_asH5__PNa26,
.Text_asH6__Jd5WP {
  all: unset;
}

.Text_sizeHeading1__46yiy {
  font-size: 40px;
  line-height: 125%;
  font-weight: 700;
}

.Text_sizeHeading2__DIAE8 {
  font-size: 32px;
  line-height: 150%;
  font-weight: 700;
}

.Text_sizeHeading3__ADEer {
  font-size: 24px;
  line-height: 150%;
  font-weight: 700;
}

.Text_sizeHeading4__Hmlp2 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
}

.Text_sizeHeading5__wdNxD {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
}

.Text_sizeHeading6___5T8_ {
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
}

.Text_sizeBody__TTGJU {
  font-size: 16px;
  line-height: 175%;
  font-weight: 400;
}

.Text_sizeBodySmall__OMLnU {
  font-size: 14px;
  line-height: 175%;
  font-weight: 400;
}

.Text_sizeBodyExtraSmall__C6a7I {
  font-size: 12px;
  line-height: 175%;
  font-weight: 400;
}

.Text_sizeExtraLarge__PLB17 {
  font-size: 48px;
  line-height: 125%;
  font-weight: 800;
}

.Text_lineHeightLarge__jQJSl {
  line-height: 175%;
}

.Text_lineHeightMedium__2HH4u {
  line-height: 150%;
}

.Text_lineHeightSmall__hGmCd {
  line-height: 125%;
}

.Text_colorInk__4lVlf {
  color: #1b1c1e;
}

.Text_colorInk80__5KJ2t {
  color: rgba(27, 28, 30, 0.8);
}

.Text_colorInk50__wngEr {
  color: rgba(27, 28, 30, 0.5);
}

.Text_colorInk30__zZqt3 {
  color: rgba(27, 28, 30, 0.3);
}

.Text_colorInk10__03oV8 {
  color: rgba(27, 28, 30, 0.1);
}

.Text_colorPrimary__ZqWrm {
  color: #6d6d6c;
}

.Text_colorPrimary80__NC56I {
  color: rgba(109, 109, 108, 0.8);
}

.Text_colorPrimary50__vSiZb {
  color: rgba(109, 109, 108, 0.5);
}

.Text_colorPrimary30__rdvgx {
  color: rgba(109, 109, 108, 0.3);
}

.Text_colorPrimary10__dcaL2 {
  color: rgba(109, 109, 108, 0.1);
}

.Text_colorSecondary__sIw97 {
  color: #1b1c1e;
}

.Text_colorSecondary80__V3FHf {
  color: rgba(27, 28, 30, 0.8);
}

.Text_colorSecondary50__N32C8 {
  color: rgba(27, 28, 30, 0.5);
}

.Text_colorSecondary30__qKqaL {
  color: rgba(27, 28, 30, 0.3);
}

.Text_colorSecondary10__sXKK6 {
  color: rgba(27, 28, 30, 0.1);
}

.Text_colorWhite__30qqg {
  color: #ffffff;
}

.Text_colorWhite80__QbcH4 {
  color: rgba(255, 255, 255, 0.8);
}

.Text_colorWhite50__YP6S3 {
  color: rgba(255, 255, 255, 0.5);
}

.Text_colorWhite30__ZCNj0 {
  color: rgba(255, 255, 255, 0.3);
}

.Text_colorWhite10__5QhZX {
  color: rgba(255, 255, 255, 0.1);
}

.Text_colorGrey__MtJfX {
  color: #7f7f7f;
}

.Text_colorGrey80__nS8Fn {
  color: rgba(127, 127, 127, 0.8);
}

.Text_colorGrey50__biXlP {
  color: rgba(127, 127, 127, 0.5);
}

.Text_colorGrey30__ot2b3 {
  color: rgba(127, 127, 127, 0.3);
}

.Text_colorGrey10__VzFuB {
  color: rgba(127, 127, 127, 0.1);
}

.Text_colorInherit__Aek_x {
  color: inherit;
}

.Text_fontWeightRegular__5drCS {
  font-weight: 400;
}

.Text_fontWeightSemibold__3Pcvr {
  font-weight: 600;
}

.Text_fontWeightBold__UipBi {
  font-weight: 700;
}

.Text_fontWeightBlack__6ncM4 {
  font-weight: 900;
}

@supports (-webkit-line-clamp: 42) {
  .Text_maxLines1__Gkc3l,
  .Text_maxLines2__Zx_DS,
  .Text_maxLines3__pry93,
  .Text_maxLines4__oKLUn,
  .Text_maxLines5__RMmKG {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .Text_maxLines1__Gkc3l {
    -webkit-line-clamp: 1;
  }
  .Text_maxLines2__Zx_DS {
    -webkit-line-clamp: 2;
  }
  .Text_maxLines3__pry93 {
    -webkit-line-clamp: 3;
  }
  .Text_maxLines4__oKLUn {
    -webkit-line-clamp: 4;
  }
  .Text_maxLines5__RMmKG {
    -webkit-line-clamp: 5;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./containers/Staff/NavBar/index.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/*
  Useful links:
  - https://sass-lang.com/documentation/modules
  - https://sass-lang.com/documentation/variables
  - https://sass-lang.com/documentation/at-rules/use
*/
.NavBar_button__uBQtA {
  border: 0;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 4px;
  padding: 30px 16px 0 24px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./containers/Staff/HomePage/index.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

