.form {
  width: 45%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: start;
  margin: auto;
  height: 90vh;
}

.login {
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 2.8rem;
  color: var(--color-black);
}

.icon {
  font-size: 18px;
  color: rgba(22, 119, 255, 0.645);
}

.input {
  border: none;
  padding-left: 0.4rem;
  gap: 1rem;
}

.forgot {
  color: #1677ff;
  float: right;
  font-size: 1.4rem;
}

.button {
  width: 100%;
}
